* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: $fs-base + px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.container {
  @include maxCentered(1175, 20);
}
.h-red-word {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: $c-blood;
  font-size: 68px;
  @media (max-width: 1024px) {
    font-size: 44px;
  }
}
