// COLORS
$c-dark-earth-yellow: #bd9452;
$c-dark-orioles-orange: #da500c;
$c-orioles-orange: #f05b10;
$c-bright-gray: #ebebeb;
$c-earth-yellow: #e4b366;
$c-dark-blood2: #8d0808;
$c-candy-pink: #d77474;
$c-dim-gray: #6c6c6c;
$c-blood2: #a21010;
$c-blood: #ac1313;
$c-red: #ff0000;
$c-white: #fff;
$c-black: #000;
// FONT-SIZE
$fs-base: 16;
//  TRANSITION
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
// BOX-SHADOW
$bs-normal: 3px 4px 7px rgba($c-black, 0.1);
