include ./header/header
include ./navigation/navigation
include ./cart-icon/cart-icon
include ./locked-screen/locked-screen 
include ./banner/banner
include ./product-categories/product-categories
include ./type-product/type-product
include ./block-product/block-product