extends ./src/_extends/common

block styles 
  link(rel="stylesheet" href="./index.css")
block main 
  .app
    +header
    +banner
    +product-categories
    +featured-p
block scripts 
  script(src="./index.js" defer type="module") 
