mixin product-categories
  .c-product-categories
    .container.c-product-categories__wrapper
      .c-product-categories__subtitle Product Categories
      h2.c-product-categories__title Porcelain
        span.h-red-word &
        | Pottery
      .c-product-categories__circle-box
        +type-product({class : 'yellow', src : './assets/images/type-product/vases.png', name : 'vases'})
        +type-product({class : 'orange', src : './assets/images/type-product/mugs.png', name : 'mugs'})
        +type-product({class : 'red', src : './assets/images/type-product/plates.png', name : 'plates'})
      .c-product-categories__block-desc 
        .c-product-categories__desc
          h3.c-product-categories__mintitle Hand Grafted Pottery since 1990
          p.c-product-categories__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus posuere.
        .c-product-categories__desc
          h3.c-product-categories__mintitle We Provide Premium Pottery Produts
          p.c-product-categories__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus posuere.