mixin featured-p 
  .c-featured-p 
    .container.c-featured-p__wrapper
      +featured-products({src : './assets/images/type-product/potterry.png', title : 'Gold & Black Pottery', text : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore dolore aua. Ut enim ad minim veniam, quis nostrud exercitationulco laboris nisi ut aliquip ex ea commodo consequatuisaute.'})
      +featured-products({src : './assets/images/type-product/organic.png', title : 'Orange Ceramic', text : 'Pri cu dico labores officiis, odio principes complectitur ad sea. Sea id doctus forensibus, nec lorem vocent aliquam eu. Aliquid definitiones id cum, ad meliore perpetua referrentur sed. Quas suscipit ad mea verear vivendo tincidunt.', classReverse : 'c-featured-products__block--reverse', classImg : 'c-featured-products__image-box--second'})