.c-banner {
  background-image: url('./assets/images/banner/banner-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  &__wrapper {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 130px;
    @include flexLine();
    padding-top: 130px;
    @include media('<=tablet') {
      flex-direction: column;
      padding-bottom: 100px;
      padding-top: 70px;
    }
  }
  &__text-box {
    max-width: 500px;
    cursor: default;
    @include media('<=desktop') {
      max-width: 375px;
    }
    @include media('<=tablet') {
      text-align: center;
      max-width: 560px;
    }
  }
  &__subtitle {
    text-transform: uppercase;
    color: $c-candy-pink;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
    @include media('<=desktop') {
      font-size: 12px;
    }
  }
  &__title {
    line-height: 58px;
    font-weight: 700;
    font-size: 48px;
    @include media('<=desktop') {
      line-height: 36px;
      font-size: 28px;
    }
    @include media('<=phone') {
      font-size: 22px;
    }
  }
  &__desc {
    font-family: 'Libre Franklin', sans-serif;
    color: $c-dim-gray;
    margin-top: 15px;
    font-size: 16px;
    @include media('<=desktop') {
      font-size: 12px;
    }
  }
  &__button {
    margin-top: 50px;
    @include media('<=tablet') {
      text-align: center;
    }
  }
  &__image-box {
    @include media('<=tablet') {
      margin-top: 50px;
    }
  }
}
