.c-locked-screen {
  background-color: rgba($c-bright-gray, 0.6);
  position: fixed;
  display: none;
  height: 100vh;
  z-index: 11;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  &--show {
    display: block;
  }
}
