mixin block-product(args = {}) 
  .c-block-product
    .c-block-product__block-image
      .c-block-product__block-silver
      .c-block-product__image-box 
        img(src= args.src, alt="Element")
    .c-block-product__block-text
      he.c-block-product__title= args.title
      p.c-block-product__desc= args.text
      .c-block-product__link 
        +link({text : 'View Details', class : 'e-link--details'})