mixin banner 
  .c-banner
    .container.c-banner__wrapper 
      .c-banner__text-box
        .c-banner__subtitle Pompeo POttery
        h1.c-banner__title Unique Porcelain 
          span.h-red-word & 
          | Stone Collection
        .c-banner__desc Unique & modern pottery made by our master in porcelain & stones
        .c-banner__button
          +button({text : 'Shop Collection'})
      .c-banner__image-box
        img(src="./assets/images/banner/banner.png" alt="Banner")