.c-navigation {
  @include media('<=tablet') {
    transition: all 0.3s ease-in-out;
    background-color: $c-bright-gray;
    position: absolute;
    overflow: auto;
    height: 100vh;
    z-index: 12;
    left: -100%;
    width: 60%;
    top: 0;
    @include media('<=phone') {
      width: 100%;
    }
    &--open {
      font-weight: 500;
      left: 0;
    }
  }
  &__list {
    border-right: 2px solid $c-bright-gray;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    display: flex;
    @include media('<=tablet') {
      flex-direction: column;
      padding-bottom: 50px;
      padding-top: 80px;
      border: none;
    }
  }
  &__item {
    text-transform: uppercase;
    margin-right: 20px;
    color: $c-dim-gray;
    font-size: 12;
    padding: 10px;
    &:last-child {
      margin-right: 10px;
    }
    @include media('<=tablet') {
      margin: 0 0 15px 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
