mixin header 
  header.c-header 
    .container.c-header__wrapper 
      .c-header__logo 
        a.e-link(href="/")
          +logo
      .c-header__block
        .c-header__nav 
          +navigation()
        .c-header__cart
          +cart-icon
      +burger
      +locked-screen
